<div formGroupName="identify">
  <form  [formGroup]="myForm" (ngSubmit)="onSubmit()" class="jasmine-excluded-no-display">
  <h2>Form data</h2>

  <label for="phoneNumber">Phone Number:<br>  </label>
  <input id="phoneNumber"  type="text" formControlName="phoneNumber" placeholder="Your phone number is ...." required>
    <br><br>

    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" placeholder="Your email is ...." required>
    <div *ngIf="email.invalid && (email.dirty || email.touched)">
      <span *ngIf="email.errors?.required">Email is required.</span>
      <span *ngIf="email.errors?.email">Invalid email format.</span>
    </div>
    <br><br>

  <label>Tỉnh/ Thành phố:  </label>
    <select id="city" (change)="changeCity($event)" formControlName="city">
      <option >-- Select -- </option>
      <option *ngFor="let data of vietnamData" value="{{data.city}}">{{data.city}}</option>
    </select>
    <br> <br>
    <label>Quận/ Huyện:   </label>
      <select id="district" formControlName="district">
        <option >-- Select -- </option>
        <option *ngFor="let data of vietnamData" [value]="districts">{{ data.district }}</option>
      </select>
  <br><br>
    <button [disabled]="myForm.form.invalid" type="submit" class ="btn btn-primary">Submit</button>
  </form>
</div>
